@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        <TopBar />
    </Authorized>
</AuthorizeView>

<div class="page-content">
    @Body
</div>